[submodule ".config/zsh/plugins/powerlevel10k"]
	path = .config/zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/plugins/fast-highlight"]
	path = .config/zsh/plugins/fast-highlight
	url = https://github.com/romkatv/powerlevel10k.git
